.section-wrapper {
    background: rgb(42,41,41);
    background: linear-gradient(180deg, rgba(42,41,41,1) 0%, rgba(0,0,0,1) 40%);
    padding: 60px 21px;
    border-radius: 10px;
    margin-bottom: 30px; 
    width: 100%;
  }
  
  .section-wrapper h2 {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }

.section-content {
    position: relative;
    top: -50px; 
  }

.main-content {
    width: 95%;
    max-width: 1600px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 0 40px; 
  }
  

  .main-content h2 {
    align-self: flex-start;
    font-size: 28px; 
    margin-left: 10px; 
  }
  

  .artists, .albums {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; 
    justify-content: flex-start;
    width: 100%; 
  }
  

  .artist-card p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
  }
  
  .artist-card img {
    width: 225px; 
    height: 225px;
    border-radius: 50%;
    object-fit: cover;
  }
  

  .album-card p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
  }
  
  .album-card small {
    font-size: 16px; 
    font-weight: normal;
    color: #b3b3b3; 
    display: block;
    margin-top: 5px;
  }

  .album-card img {
    width: 225px;
    height: 225px;
    border-radius: 15px;
    object-fit: cover;
  }
  